[defaults]
inventory = inventories/hosts.ini
private_key_file = ~/.ssh/id_projet_m1
host_key_checking = False
retry_files_enabled = False
timeout = 30

[privilege_escalation]
become = True
become_method = sudo
become_user = root
