

# Configuration des interfaces physiques (elles sont gérées par le bond)
auto {{ bond_iface1 }}
iface {{ bond_iface1 }} inet manual


auto {{ bond_iface2 }}
iface {{ bond_iface2 }} inet manual

# Configuration de l'agrégat LACP (Actif/Actif)
auto {{ bond_name }}
iface {{ bond_name }} inet static
{% if inventory_hostname == 'machine1' %}
    address {{ hostvars["machine1"]['bond_ip'] }}
    gateway {{ hostvars["machine1"]['bond_gateway'] }}
{% elif inventory_hostname == 'machine2' %}
    address {{ hostvars["machine2"]['bond_ip'] }}
    gateway {{ hostvars["machine2"]['bond_gateway'] }}
{% endif %}
    bond-slaves {{ bond_iface1 }} {{ bond_iface2 }}
    bond-mode 802.3ad
    bond-miimon 100
    bond-lacp-rate fast
    bond-xmit-hash-policy layer3+4